<!DOCTYPE html>
<html>
<head>
	<title>signup</title>
	<link rel="stylesheet" type="text/css" href="/static/account/signup.css">
</head>
<body>
<div class="signup">
		<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
			{% csrf_token %}
			<div class="form">
			{{ form.as_p }}
			</div>
			{% if redirect_field_value %}
			<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
			{% endif %}
			<button type="submit">signup</button>
			<br>
			<a href="/login">Already registered</a>
		</form>
	</div>

</body>
</html>